@{
    ViewData["Title"] = "Market";
}

<div class="text-center text-light">
    <h1 class="display-4">Добро пожаловать!</h1>
    <a asp-controller="EvCar" asp-action="GetAll" class="text-info" >Подобрать машину</a>
</div>